@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BlackBox';
  src: url('./fonts/BlackBox.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Santello';
  src: url('./fonts/SANTELLO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

